@model IEnumerable<PostModel>

@{
    Layout = null;
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Posts</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Url</th>
                        <th>Tags</th>
                        <th>Category</th>
                        <th>Country</th>
                        <th>CreatedOn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title>
                            <td>@item.Description</td>
                            <td>@item.Url</td>
                            <td>
                                    @foreach (var tag in item.Tags)
                                    {
                                    <span class="badge badge-info">@tag.Name</span>
                                    }
                            </td>
                            <td>@item.Category.Name</td>
                            <td>@item.Country</td>
                            <td>@item.CreatedOn</td>
                            <th>
                                <button type="button" class="btn btn-primary btn-sm" onclick="Edit(this)" id="@item.Id" data-toggle="modal" data-target="#postModal">Edit</button> |
                                <button type="button" class="btn btn-danger btn-sm" onclick="Confirmation(this)" id="@item.Id">Delete</button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>